{% extends './layout.html' %}

{% block container %}
  <!-- Main Content -->
  <main>
    <!-- Imágenes con enlaces -->
    <div class="portfolio">
      <img src="../static/img/1.jpeg" alt="Productos" class="portfolio-image">
      <a href="products" class="portfolio-link"><h2>PRODUCTS</h2></a>
    </div>
    
    <div class="portfolio">
      <img src="../static/img/2.jpeg" alt="Travel" class="portfolio-image">
      <a href="travels" class="portfolio-link"><h2>TRAVELS</h2></a>
    </div>

    <div class="portfolio">
      <img src="../static/img/3.jpeg" alt="Retratos" class="portfolio-image">
      <a href="portraits" class="portfolio-link"><h2>PORTRAITS</h2></a>
    </div>

  </main>

    <!-- Botón de contacto fuera del footer -->
  <a href="contacto" class="contact-button">CONTACTO</a>

  <div class="yo">
    <div class="informacion">
      <h2>PABLO BAUER</h2>
      <p>I am Pablo Bauer, an enthusiast passionate about immortalizing the magic of fascinating destinations around the world. My focus is on weaving visual narratives that transport those who experience them to the very essence of adventure. Each production not only seeks to highlight the extraordinary natural beauty but also aims to awaken an emotional connection and deep respect for our environment.<br>

      <br>In my cinematic world, exploration becomes an artistic expression that goes beyond mere observation. Thus, I invite those who wish to share this passion to embark on a visual journey that celebrates the diversity of our planet and emphasizes the importance of preserving its wonders for future generations.</p>
    </div>
    <div class="imagen">
      <img src="../static/img/perfil.png" alt="Mi Foto">
    </div>
  </div>

  <div class="last-project">
    <h4>2024</h4>
    <h3>||| ___________________________________</h3>
    <h2>LAST PROJECT</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BwGb9rfpoWY?si=Gv04i6u7OwCIHU3G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h3>__ __</h3>
  </div>

  <div class="last-project-text">
    <h2> <font color=#436318>"</font>The nature is a great stage where wonderful stories unfold. Its simple beauty is the very essence of cinematic inspiration.<font color=#436318>"</font></h2>
    <h3><font color=#436318>//</font> Terrence Malick</h3>
  </div>

  <div class="work-with-us">
    <a href=""><img src="../static/img/work_with_us_banner.jpg"></a>
  </div>

  <div class="work-with-us-title">
    <h3><font color=#436318>WORK </font><font color=#fff style='font-family:NameFont'>WITH US</font></h3>
  </div>

{% endblock %}
