{% extends './layout.html' %}

{% block container %}
  <!-- Main Content -->
  <div class="gallery-container">
    <!-- Imágenes con enlaces -->
    <div class="gallery-title">{{data.area}}</div>

    <div class="gallery">
      <div class="column">
        <img alt="ph 1" src="../static/img/gallery/portraits/ph_1.jpg">
        <img alt="ph 2" src="../static/img/gallery/portraits/ph_2.jpg">
        <img alt="ph 3" src="../static/img/gallery/portraits/ph_3.jpg">
        <img alt="ph 4" src="../static/img/gallery/portraits/ph_4.jpg">
        <img alt="ph 5" src="../static/img/gallery/portraits/ph_5.jpg">
      </div>

      <div class="column">
        <img alt="ph 6" src="../static/img/gallery/portraits/ph_6.jpg">
        <img alt="ph 7" src="../static/img/gallery/portraits/ph_7.jpg">
        <img alt="ph 8" src="../static/img/gallery/portraits/ph_8.jpg">
        <img alt="ph 9" src="../static/img/gallery/portraits/ph_9.jpg">
        <img alt="ph 10" src="../static/img/gallery/portraits/ph_10.jpg">
      </div>

      <div class="column">
        <img alt="ph 11" src="../static/img/gallery/portraits/ph_11.jpg">
        <img alt="ph 12" src="../static/img/gallery/portraits/ph_12.jpg">
        <img alt="ph 13" src="../static/img/gallery/portraits/ph_13.jpg">
        <img alt="ph 14" src="../static/img/gallery/portraits/ph_14.jpg">
        <img alt="ph 15" src="../static/img/gallery/portraits/ph_15.jpg">
      </div>

      <div class="column">
        <img alt="ph 16" src="../static/img/gallery/portraits/ph_1.jpg">
        <img alt="ph 17" src="../static/img/gallery/portraits/ph_2.jpg">
        <img alt="ph 18" src="../static/img/gallery/portraits/ph_3.jpg">
        <img alt="ph 19" src="../static/img/gallery/portraits/ph_4.jpg">
        <img alt="ph 20" src="../static/img/gallery/portraits/ph_5.jpg">
      </div>
    </div>
  </div>

{% endblock %}
